# Plazas Disponibles Hotelero

**Importacion de las librerias necesarias**

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix

**Lectura de datos de Analisis en bruto sheet1 y sheet2**

In [18]:
# Leer los archivos Excel
#file_path1 = 'data1.xlsx'
#file_path2 = 'data2.xlsx'
#df1 = pd.read_excel(file_path1, sheet_name='Sheet1')
#df2 = pd.read_excel(file_path2, sheet_name='Sheet1')
datos1 = pd.read_excel("../data/external/LIMPIO_16_3_02_Oferta_Hotelera_por-sector_LIMPIO.xlsx", sheet_name="Ushuaia_1", skipfooter=2)
datos2 = pd.read_excel("../data/external/LIMPIO_16_3_02_Oferta_Hotelera_por-sector_LIMPIO.xlsx", sheet_name="Ushuaia_2", skipfooter=2)
print(datos1)

     Periodo             Mes Establecimientos Plazas disponibles  \
0     2008.0           enero               43              96224
1        NaN         febrero               44              87580
2        NaN           marzo               44              96069
3        NaN           abril               43              90570
4        NaN            mayo               42              90737
..       ...             ...              ...                ...
187      NaN      agosto (*)               33             118885
188      NaN  septiembre (*)               33             115050
189      NaN      octubre(*)               33             118637
190      NaN    noviembre(*)               33             113400
191      NaN    diciembre(*)               33             115613

    Habitaciones o Unidades disponibles
0                                 38936
1                                 34945
2                                 38998
3                                 36480
4                                 37386
..                                  ...
187                               48763
188                               47190
189                               48783
190                               46380
191                               48626

[192 rows x 5 columns]

In [19]:
print(datos2)

     Periodo             Mes Establecimientos Plazas disponibles  \
0     2008.0           enero              104              70649
1        NaN         febrero              103              64467
2        NaN           marzo              103              68359
3        NaN           abril               94              57410
4        NaN            mayo               77              43314
..       ...             ...              ...                ...
187      NaN      agosto (*)               37              33635
188      NaN  septiembre (*)               37              34620
189      NaN      octubre(*)               43              37975
190      NaN    noviembre(*)               42              35970
191      NaN    diciembre(*)               42              39742

    Habitaciones o Unidades disponibles
0                                 21452
1                                 19372
2                                 20864
3                                 17750
4                                 13488
..                                  ...
187                                7936
188                                8070
189                                9052
190                                7890
191                               10385

[192 rows x 5 columns]

**Se unen las tablas sheet1 y sheet2 con datos en bruto**

In [20]:
# Combine the data
combined_data = pd.concat([datos1, datos2])

# Print the combined data
print(combined_data)

     Periodo             Mes Establecimientos Plazas disponibles  \
0     2008.0           enero               43              96224
1        NaN         febrero               44              87580
2        NaN           marzo               44              96069
3        NaN           abril               43              90570
4        NaN            mayo               42              90737
..       ...             ...              ...                ...
187      NaN      agosto (*)               37              33635
188      NaN  septiembre (*)               37              34620
189      NaN      octubre(*)               43              37975
190      NaN    noviembre(*)               42              35970
191      NaN    diciembre(*)               42              39742

    Habitaciones o Unidades disponibles
0                                 38936
1                                 34945
2                                 38998
3                                 36480
4                                 37386
..                                  ...
187                                7936
188                                8070
189                                9052
190                                7890
191                               10385

[384 rows x 5 columns]