# Plazas Disponibles Hotelero

**Importacion de las librerias necesarias**

In [3]:
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix
from sklearn.model_selection import train_test_split,KFold,cross_val_score
from sklearn.svm import SVC
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler
from mpl_toolkits.mplot3d import Axes3D
from sklearn.decomposition import PCA
#!pip3 install ipympl

**Lectura de datos de Analisis en bruto**

In [4]:

# URL del archivo de Excel en GitHub (asegúrate de que es la URL "Raw")
#url = 'https://github.com/tu-usuario/tu-repositorio/raw/main/16_3_02_Oferta_Hotelera_por-sector.xlsx'

# Leer el archivo de Excel desde la URL
datos = pd.read_excel("../data/external/16_3_02_Oferta_Hotelera_por-sector.xlsx", sheet_name="Ushuaia", skipfooter=2)

# Mostrar las primeras filas del DataFrame
print(datos.head())

# Si quieres mostrar todas las filas, usa:
#print(datos)

  Oferta hotelera, indicadores seleccionados por sector. Ushuaia, Pcia. de Tierra del Fuego, Antártida e Islas del Atlántico Sur  \
0                                                NaN
1                                            Período
2                                                NaN
3                                                NaN
4                                                NaN

  Unnamed: 1  Unnamed: 2        Unnamed: 3          Unnamed: 4  \
0        NaN         NaN               NaN                 NaN
1        NaN         NaN   Sector Hotelero                 NaN
2        NaN         NaN  Establecimientos  Plazas disponibles
3        NaN         NaN               NaN                 NaN
4        NaN         NaN               NaN                 NaN

                            Unnamed: 5  Unnamed: 6           Unnamed: 7  \
0                                  NaN         NaN                  NaN
1                                  NaN         NaN  Sector Parahotelero
2  Habitaciones o Unidades disponibles         NaN     Establecimientos
3                                  NaN         NaN                  NaN
4                                  NaN         NaN                  NaN

           Unnamed: 8                           Unnamed: 9
0                 NaN                                  NaN
1                 NaN                                  NaN
2  Plazas disponibles  Habitaciones o Unidades disponibles
3                 NaN                                  NaN
4                 NaN                                  NaN

**Este código hace lo siguiente:**

Muestra Dentro de los Datos solo la pestaña del Sector hotelero

In [15]:

# URL del archivo de Excel en GitHub (asegúrate de que es la URL "Raw")
#url = 'https://github.com/tu-usuario/tu-repositorio/raw/main/16_3_02_Oferta_Hotelera_por-sector.xlsx'

# Leer el archivo de Excel desde la URL
datos = pd.read_excel("../data/external/LIMPIO_16_3_02_Oferta_Hotelera_por-sector_LIMPIO.xlsx", sheet_name="Ushuaia_1", skipfooter=2)

# Mostrar las primeras filas del DataFrame
#print(datos.head())

# Si quieres mostrar todas las filas, usa:
print(datos)

     Periodo             Mes Establecimientos Plazas disponibles  \
0     2008.0           enero               43              96224
1        NaN         febrero               44              87580
2        NaN           marzo               44              96069
3        NaN           abril               43              90570
4        NaN            mayo               42              90737
..       ...             ...              ...                ...
187      NaN      agosto (*)               33             118885
188      NaN  septiembre (*)               33             115050
189      NaN      octubre(*)               33             118637
190      NaN    noviembre(*)               33             113400
191      NaN    diciembre(*)               33             115613

    Habitaciones o Unidades disponibles
0                                 38936
1                                 34945
2                                 38998
3                                 36480
4                                 37386
..                                  ...
187                               48763
188                               47190
189                               48783
190                               46380
191                               48626

[192 rows x 5 columns]

**Este código hace lo siguiente:**

Muestra Dentro de los Datos solo la pestaña del Sector Parahotelero

In [14]:
# URL del archivo de Excel en GitHub (asegúrate de que es la URL "Raw")
#url = 'https://github.com/tu-usuario/tu-repositorio/raw/main/16_3_02_Oferta_Hotelera_por-sector.xlsx'

# Leer el archivo de Excel desde la URL
datos = pd.read_excel("../data/external/LIMPIO_16_3_02_Oferta_Hotelera_por-sector_LIMPIO.xlsx", sheet_name="Ushuaia_2", skipfooter=2)

# Mostrar las primeras filas del DataFrame
#print(datos.head())

# Si quieres mostrar todas las filas, usa:
print(datos)

     Periodo             Mes Establecimientos Plazas disponibles  \
0     2008.0           enero              104              70649
1        NaN         febrero              103              64467
2        NaN           marzo              103              68359
3        NaN           abril               94              57410
4        NaN            mayo               77              43314
..       ...             ...              ...                ...
187      NaN      agosto (*)               37              33635
188      NaN  septiembre (*)               37              34620
189      NaN      octubre(*)               43              37975
190      NaN    noviembre(*)               42              35970
191      NaN    diciembre(*)               42              39742

    Habitaciones o Unidades disponibles
0                                 21452
1                                 19372
2                                 20864
3                                 17750
4                                 13488
..                                  ...
187                                7936
188                                8070
189                                9052
190                                7890
191                               10385

[192 rows x 5 columns]